.env
__pycache__/
.DS_Store
testapi.py
.venv
execution_plan.json
token.json
agent.log
agent_execution.log
client_secret.json
app_index.json
aliases.json
models--openai--whisper-medium
node_modules/
lock.json
uv.lock
test